@import 'styles/_shared';

.rebalance-container {
    align-items: center;
    width: $contentWidth;
    justify-content: space-between;
    padding: 10px 0;
}

.recommended-transfers {
  @include border-radius(3px, 3px, 3px, 3px);
  border: 1px solid $darkColor;
  background: $lightGray;
  font-size: 14px;
  padding: 10px 10px 10px 30px;
  margin: 10px 0 0;
}

input {
    &.positive-value {
        color: $greenColor;
    }
    &.negative-value {
        color: $redColor;
    }
    &.amount-result {
        color: $blueColor;
    }
}