@import 'styles/_shared';

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  color: $darkColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.btn, .btn:focus {
  border: 2px solid black;
  @include border-radius(3px, 3px, 3px, 3px);
  padding: 8px 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  min-height: 18px;

  &.active, &:visited, &:hover {
    background: $levelButtonHover;
    color: $white;
  }

  &.primary {
    background: $buttonPrimaryBackground;
    color: #fff;
    border-color: $buttonPrimaryBorder;
    text-shadow: 1px 1px 1px black;

    &:hover, &:active {
      background: $buttonPrimaryHover;
    }
  }
  &:disabled {
    opacity: .6;
    cursor: default;
  }
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

table {
  border-collapse: collapse;
  margin: 10px 0; 
  width: 100%;

  thead {
    background: $darkColor;
    color: $white;
    tr {
      padding: 10px;

    }
  }
}
table, th, td {
  border: 1px solid black;
  padding: 5px;

  input:disabled {
    border: 0;
    outline: 0;

  }
}